.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #94A3B8;
    padding-bottom: 25px;
    
}

.header__list{
    display: flex;
    gap: 27px;
}

    


    .header__link a{
        font-family: 'Roboto';
        font-weight: medium;
       
    
    }
    
    .border__header{
      
    }

.header__link{
    transition: color .2s linear;
}
    .header__link:hover{
        &:hover {
                color: #2563EB;
            }
    }





    